#wrapper{
	margin-top: 35px;
	padding: 15px;
	height: 100%;
}

body{
	font-family: sans-serif;
	/*background:linear-gradient(to bottom right, #f2e5d9 , #dfbe9f); */
}

.center-text{
	text-align: center;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navbar{
	background: #3973ac;
	border-bottom: 1px solid #3973ac;
	padding-left: 20px;
	padding-right: 20px;
}

.navbar-brand{
	font-size: 2em;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 1.5em;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    color: #fff;
}

#navbar-button{
	background: transparent;
	border: 2px solid #fff;
}

#navbar-button  .icon-bar{
	color: #fff;
}

.footer{
	height: auto;
	background: #800000;
	color: #fff;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 15px;
}

.evenRow{
	background: #f2e5d9;
	padding: 15px;
}

.oddRow{
	background: #ebd8c6;
	padding: 15px;
}

.lead-header{
	font-size:5em;
}

#lead-header{
	margin-bottom: 50px;
	margin-top: 25px;
}

#slogan{
	color: green;
	margin-bottom: 50px;
}

#lead-row{
	height: 100vh;
}

#meterImg{
	height: 200px;
	width: 200px;
	margin-bottom: 50px;
}

button{
	padding: 10px;
}

p{
	font-size:1.5em;
}

.hollow-button{
	background: transparent;
	border: 2px solid black;
	font-size: 2em;
	-webkit-transition: background  .2s ease-in-out, color .2s ease-in-out;
    -moz-transition: background  .2s ease-in-out, color .2s ease-in-out;
    -ms-transition: background  .2s ease-in-out, color .2s ease-in-out;
    -o-transition: background  .2s ease-in-out, color .2s ease-in-out;
    transition: background  .2s ease-in-out, color .2s ease-in-out;
}

.hollow-button:hover{
	background: black;
	color: white;
	border: 2px solid black;
}

.icon-png{
	height: 100px;
	width: 100px;
	margin-top: 15px;
}

#services-lead-header{
	background: #800000;
	color: white;
	padding: 15px 15px 40px 15px;
}

@media screen and (max-width: 760px){
	#lead-row{
		height: 500px;
	}

	.lead-header{
		font-size:2.5em;
		margin-bottom: 15px;
	}

	#lead-header{
		margin-bottom: 15px;
	}

	#slogan , #meterImg{
		margin-bottom: 15px;
	}

	#services-lead-header{
		height: auto;
	}

	p{
		font-size: 1.5em;
	}

	.hollow-button{
		background: transparent;
		border: 2px solid black;
		font-size: 1.5em;
	}
}