#wrapper{
	margin-top: 35px;
	padding: 15px;
	height: 100%;
}

body{
	font-family: sans-serif;
	/*background:linear-gradient(to bottom right, #f2e5d9 , #dfbe9f); */
}

footer .container a{
	color: #66ccff;
}

.center-text{
	text-align: center;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navbar{
	background: #2d5986;
	border-bottom: 1px solid #3973ac;
	padding-left: 20px;
	padding-right: 20px;
}

#myNavbar{
	display: none;
}

.navmenu{
	background: #2d5986;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-brand{
	font-size: 1.7em;
}

.navbar-brand:hover{
	cursor: pointer;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 1.2em;
}

.navbar-default .navbar-nav>li>a:hover{
	cursor: pointer;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    color: #fff;
}

#navbar-button{
	background: transparent;
	border: 2px solid #fff;
}

#navbar-button  .icon-bar{
	color: #fff;
}

.footer{
	height: auto;
	background: #4d0a00;
	color: #fff;

	padding-bottom: 5px;
	padding-top: 15px;
}

.evenRow{
	background: #f8f1ec;
	padding: 20px;
}

.oddRow{
	background: #f1e4da;
	padding: 20px;
}

.lead-header{
	font-size:5em;
}

#lead-header{
	margin-bottom: 50px;
	margin-top: 25px;
}

#slogan{
	color: green;
	margin-bottom: 50px;
}

#lead-row{
	height: 100vh;
}

#meterImg{
	height: 200px;
	width: 200px;
	margin-bottom: 50px;
}

button{
	padding: 10px;
}

p{
	font-size:1.3em;
}

.hollow-button{
	color: white;
	background: black;
	border: 2px solid black;
	font-size: 2em;
	-webkit-transition: background  .2s ease-in-out, color .2s ease-in-out;
    -moz-transition: background  .2s ease-in-out, color .2s ease-in-out;
    -ms-transition: background  .2s ease-in-out, color .2s ease-in-out;
    -o-transition: background  .2s ease-in-out, color .2s ease-in-out;
    transition: background  .2s ease-in-out, color .2s ease-in-out;
}

.hollow-button:hover{
	background: transparent;
	color: black;
	border: 2px solid black;
}

.icon-png{
	height: 100px;
	width: 100px;
	margin-top: 25px;
	background: white;
	padding: 15px;
	border-radius: 100px;
	border: .2em solid black;
}

.social-meadia-icons{
	margin: 10px;
	padding: 15px;
	border: 2px solid white;
	border-radius: 100px;
	font-size: 2em;
	-webkit-transition: background  .2s ease-in-out, color .2s ease-in-out;
    -moz-transition: background  .2s ease-in-out, color .2s ease-in-out;
    -ms-transition: background  .2s ease-in-out, color .2s ease-in-out;
    -o-transition: background  .2s ease-in-out, color .2s ease-in-out;
    transition: background  .2s ease-in-out, color .2s ease-in-out;
}

.social-meadia-icons:hover{
	background: #fff;
	color: #3973ac;
	cursor: pointer;
}

#services-lead-header{
	background: #800000;
	color: white;
	padding: 15px 15px 40px 15px;
}

#services-par{
	width: 80%;
}

#about-lead-header{
	background: #3973ac;
	color: white;
	padding: 40px 15px 40px 15px;
}

#mapRow{
	background-image: url(../images/map.png);
	background-repeat: no-repeat;
	background-size: 100% 200%;
	height: 400px;
	color: #fff;
	text-shadow:3px 3px #000;
}

#servicing-text{
	position: relative;
	top: 150px;
}

#nest-lead-header{
	background: #c65353;
	color: white;
	padding: 15px 15px 30px 15px;
}

.video-container { 
   position: relative; /* keeps the aspect ratio */ 
   padding-bottom: 56.25%; /* fine tunes the video positioning */ 
   padding-top: 60px; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.text-input{
	margin-top: 15px;
}

#accordion h3{
	background: #f1e4da;
	color: black;
	padding: 15px;
	font-size: 1.5em;
	font-weight: bold;
	border: 1.5px solid #dcbaa3;
}

#accordion div {
	background: #f8f1ec;
}

@media screen and (max-width: 760px){
	#lead-row{
		height: 550px;
	}

	.lead-header{
		font-size:2.5em;
		margin-bottom: 15px;
	}

	#lead-header{
		margin-bottom: 15px;
	}

	#slogan , #meterImg{
		margin-bottom: 15px;
	}

	#services-lead-header{
		height: auto;
	}

	p{
		font-size: 1.5em;
	}

	.hollow-button{
		font-size: 1.5em;
	}

	#mapRow{
		background-image: url(../images/map.png);
		background-repeat: no-repeat;
		background-size: 100% 150%;
		height: 400px;
		color: #fff;
		text-shadow:3px 3px #000;
	}
}